name: release

on:
  push:
    tags:
      - "v*"

jobs:
  create-release:
    name: Create Release
    runs-on: "ubuntu-latest"

    steps:
      # Install golang
      - uses: actions/setup-go@v2
        with:
          go-version: "^1.20"

      # Install external go modules before cloning
      - run: go install github.com/laher/goxc@latest

      # Checkout code
      - uses: actions/checkout@v2

      # Install golang deps, using a cache
      - uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ubuntu-latest-1.20-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ubuntu-latest-1.20-go-

      # build binaries for all supported environments
      - run: sudo apt update && sudo apt install -y make
      - run: make build-all

      # Create the binary checksums
      - name: Get the version
        id: get_version
        run: echo VERSION=${GITHUB_REF#refs/tags/v} >> $GITHUB_OUTPUT
      - uses: jmgilman/actions-generate-checksum@v1
        id: checksums
        with:
          patterns: "build/${{ steps.get_version.outputs.VERSION }}/*"
          method: sha512
          output: checksums.txt

      # Create the release
      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: false
          files: |
            build/${{ steps.get_version.outputs.VERSION }}/*
            checksums.txt
